{{#partial "content"}}

<h1>Teams list!</h1>
  {{#if teams}}
       {{#each teams }}
        <p>Team Name:</p>
        <p>{{ teamName }} <a href="/teams/{{id}}">View details</a></p>
       {{/each}}
   {{else}}
    <p>No Teams!</p>
   {{/if}}
{{/partial}}

{{> layout.hbs}}