{{#partial "content"}}
    <p>Team name:</p>
    <p>{{ teams.teamName }}</p>
    <h5>Team details:</h5>
    <p> Team ID# {{teams.teamid}}</p>
    <br>
    {{#block "content"}}

    {{/block}}
    <br>
    <p class="btn btn-success"><a href="/teams/{{teams.teamid}}/members/new">Add Member</a></p>
    <p class="btn btn-default"><a href="/teams/{{teams.teamid}}/update">Modify Team Name</a><br>
    <p class="btn btn-warning"><a href="/">Return to List</a>

{{/partial}}

{{> layout.hbs}}