{{#partial "content"}}
    <div class="well">
        {{#if modifyTeamRoster}}
            <h1>Add a new member to the roster!</h1>
            <form action="/teams/{{modifyTeamRoster.id}}/addMember" method="post">
                <div class="form-control">
                    <label for="name">Member Name:&nbsp; </label>
                    <input id="name" name="name" type="text" class="inputs">
                </div>
                <button type="submit" class="btn btn-success">Update Roster</button>
            </form>
        {{/if}}
    </div>
{{/partial}}

{{> layout.hbs}}