
{{#partial "content"}}

    <h1>Success!</h1>

    Your member has been added to the team roster.

    <br>
    <p class="btn btn-success"><a href="/teams/{{teams.id}}/members/new">Add Member</a></p>
    <p class="btn btn-default"><a href="/teams/{{teams.id}}/update">Modify Team Name</a><br>
    <p class="btn btn-warning"><a href="/">Return to List</a>

{{/partial}}

{{> layout.hbs}}