{{#partial "content"}}
   <p>Team name:</p>
   <p>{{ teams.teamName }}</p>
   <h5>Team details:</h5>

   <br>
   <a href="/teams/{{teams.id}}/update">Modify Team Name</a><br>
   <a href="/">Return to List</a>

{{/partial}}

{{> layout.hbs}}