{{#partial "content"}}

    {{#if member}}
        <h1>Enter new member here!</h1>

        <form action="/teams/{{id}}/members/new" method="post">
            <label for="memberName">member name</label>
            <input id="memberName" name="memberName" type="text">

            <button type="submit" class="btn btn-default">Add Member</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}