{{#partial "content"}}

    {{#if editTeam}}
        <h1>Edit this Team!</h1>
        <form action="/teams/{{teams.id}}/update" method="post">
            <label for="teamName">Edit this team's name</label>
            <input id="teamName" name="teamName" type="text" value="{{teams.teamName}}">
            <button type="submit" class="btn btn-default">Submit Entry</button>
       </form>

    {{else}}

        <h1>Enter new team here!</h1>

        <form action="/teams/new" method="post">
            <label for="teamName">Team Description</label>
            <input id="teamName" name="teamName" type="text">

            <button type="submit" class="btn btn-default">Submit Entry</button>
        </form>
   {{/if}}
{{/partial}}

{{> layout.hbs}}







