{{#partial "content"}}
   <p>Team name:</p>
   <p>{{ teams.teamName }}</p>
   <h5>Team details:</h5>
    <p> Team ID# {{teams.id}}</p>
    <br>

   <br>
   <p class="btn btn-default"><a href="/teams/{{teams.id}}/update">Modify Team Name</a></p><br>
   <p class="btn btn-success"><a href="/teams/{{teams.id}}/members/new">Add Member</a></p><br>
   <p class="btn btn-warning"><a href="/">Return to List</a></p>

{{/partial}}

{{> layout.hbs}}